    
        body {
            font-family: 'Courier New', Courier, monospace;
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            background-color: #45567D;
        }
        
        a {
            text-decoration: none;
            color: black;
        }
        
        p {
            text-align: center;
        }
        
        nav {
            background-color: #BE3144;
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 75px;
            display: flex;
            justify-content: flex-end;
        }
        
        nav ul {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            display: flex;
            height: 100%;
        }
        
        nav ul li {
            height: 100%;
        }
        
        .nav-link {
            padding-left: 1em;
            padding-right: 1em;
            display: block;
            text-align: center;
            display: flex;
            align-items: center;
            height: 100%;
            font-weight: 600;
            color: white;
            font-size: larger;
        }
        
        .nav-link:hover {
            background-color: #45567D;
        }
        
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        h1 {
            font-size: 50px;
            font-weight: 1000;
            margin-bottom: 0px;
            text-align: center;
        }
        
        #discription {
            font-size: 30px;
        }
        
        #welcome-section {
            height: 100vh;
            width: 100%;
            background-color: rgb(197, 172, 172);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: black;
            background-image: linear-gradient(60deg, rgb(78, 78, 78) 0%, rgb(44, 44, 44) 100%);
        }
        
        #projects {
            padding-top: 100px;
            width: 80%;
            display: flex;
            flex-direction: column;
            grid-template-columns: 50% 50%;
            
        }
        
        .project-container{
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .project-tab{
            width: 50%;
            border-radius: 10px;
        }
        .project-tab a{
            background-color: white;
        }

        .project-tab img{
            width: 100%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
        }

        .project-name{
            background-color: white;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: large;
            font-weight: 600;
        }
        
        .project-tab:hover{
            box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
            transition: 200ms;
        }

        #container{
            margin-top: 80px;
            color: white;
            padding: 0px 40px;
        }
        
        @keyframes appear {
            100% {
                color: orange;
            }
        }
        
        #contact {
            margin-top: 2em;
            padding-bottom: 2em;
            width: 100%;
            background-color: black;
            background-image: linear-gradient(60deg, rgb(78, 78, 78) 0%, rgb(44, 44, 44) 100%);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: white;
        }
        
        .contact-link {
            color: white;
            font-weight: bold;
            font-size: larger;
        }
        
        .section-header {
            margin-bottom: 100px;
            grid-column: 1/3;
            text-align: center;
            font-size: 50px;
            font-weight: 800;
            text-decoration: underline;
            color: white;
        }
        
        .btn {
            width: 150px;
            height: 2em;
            background-color: #2F3740;
            border: none;
            font-size: larger;
            color: white;
        }
        
        .detail-btn {
            grid-column: 1/3;
            justify-self: center;
        }
        
        .detail-btn:hover {
            animation-name: background-color;
            animation-duration: 1000ms;
            animation-fill-mode: forwards;
            background-color: #2F3740;
        }
        
        @keyframes background-color {
            100% {
                background-color: #BE3144;
            }
        }
        
        #footer-discription {
            font-size: larger;
            font-weight: bolder;
        }
        
        #contact-list {
            list-style-type: none;
            display: flex;
        }
        
        #contact-list li {
            margin: 0px 1em;
            position: relative;
            top: 0px;
        }
        
        #contact-list li:hover {
            animation-name: down;
            animation-duration: 500ms;
            animation-fill-mode: forwards;
        }
        
        @keyframes down {
            100% {
                top: 0.25em;
            }
        }
        
        @media (max-width: 760px) {
            
            .project-tab{
                width: 500px;
            }
            #contact-list {
                padding: 0px;
                display: grid;
                grid-column-gap: 1em;
                grid-row-gap: 0.5em;
                width: 100%;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }
            .contact-link {
                display: flex;
            }
        }
    